*{
  cursor: pointer;
}


#background {
    background-color: rgb(238, 212, 236);
    margin: 0;
   /* background-image: url(upstate.jpg);
    background-repeat: repeat;
    background-size: 1000px 1400px; 
    background-size: cover; */
  
}

h1 { 
  max-width: 700px;
  font-family: 'La Belle Aurore', cursive;
  font-size: 55px;
  font-weight: bolder;
  color: #0a0a0a;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 25px;
  transform: rotate(90deg);
  transform-origin: 1% 75%; 
  margin: 0;
  text-align: center;
  
 
}

.form {
  display:flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  border: 4mm ridge rgba(86, 100, 90, 0.6);
  border-radius: 5mm;
  max-width: 770px;
  padding-top: 5px;
  max-height: 900px;
  background-color: rgba(76, 119, 91, 0.6);
  
}

#font {
  font-family: 'Vidaloka', serif;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: bold;
  
}

label {
  font-family:'Vidaloka', serif;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 28px;
    
}

textarea   {
  width: 50%;
  height: 10vh;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-family:'Vidaloka', serif;
  background-color: #3f3730;
  opacity: 70%;
}

#birthday, #email {
  font-family:'Vidaloka', serif;
  width: 35%;
  text-align: center;
  color: white;
  background-color: #3f3730;
  border-radius: 6px;
  
}

#submit {
  font-family:'Vidaloka', serif;
  font-weight: bolder ;
  text-align: center;
  font-size: 15px;
  color: rgb(238, 232, 232);
  background-color: black;  
  border: 15px solid black;   
  text-transform: uppercase; 
  letter-spacing: 3px;
}
  
  #submit:hover {
    background-color: #bda38c;
    border: 15px solid #bda38c;
  }
  
 

footer {
  background-color: #323236;
  height: 15vh;
  width: 100vw;
  margin-top: 2%;
  opacity: 95%;
  

}

@media (max-width: 699px) {
  .form {
    flex-direction:row;
    justify-content: center;
    text-align: center;
  }
  h1{
    display: flex;
    justify-content: center;
    transform:none;
  }
  

  @media (max-width: 960px) {
    .form {
      flex-direction:row;
      
    }
    h1{
      display: flex;
      justify-content: center;
      transform:none;
    }
    }

    @media (min-width: 1025px) {
      .form {
        flex-direction:row;
        
      }
      }